<div class="login-parent">
    <h1 class="loose-text">zsynth</h1>
    <div class="login-child">
        <div><button id="signin-home">Sign In</button></div>
        <div><button id="signup-home">Create Account</button></div>
        <div><a id="skip-link" href="/">Skip</a></div>
    </div>
</div>
<script>
    var signInButton = document.getElementById("signin-home");
    signInButton.addEventListener("click", () => {document.location.href = "/login"})

    var signUpButton = document.getElementById("signup-home");
    signUpButton.addEventListener("click", () => {document.location.href = "/create-account"});
</script>