<div class="create-account">
    <h1 class="loose-text">zsynth</h1>
    <div class="account-buttons">
        <div><button>Sign In</button></div>
        <div><button>Sign Up</button></div>
        <div><a href="/">Skip</a></div>
    </div>
</div>