<div class="login-parent">
    <h1 class="loose-text">Sign In</h1>
    <div class="login-child">
        <form id="account-form" method="post" action="/account">
            <label for="email" class="loose-text">Email</label>
            <input type="text" id="email" name="email" required></input>

            <label for="pswd" class="loose-text">Password</label>
            <input type="password" id="pswd" name="pswd" required></input>

            <input type="submit" class="signupbtn" value="Sign In"></input>

            <button type="button" id="cncl-button" class="cancelbtn">Cancel</button>

        </form>
    </div>
</div>

<script>
    var cancelButton = document.getElementById("cncl-button");
    cancelButton.addEventListener("click", () => document.location.href = "/home")
</script>