*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loose-text {
    color: darkgoldenrod;
    text-align: left;
}

.menu-bar {
    display: flex;
    margin: 10px 0;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white {
    --width: 50px;
    background-color: white;
    border: 1px solid #333;
}

.black {
    --width: 30px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.login-parent {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
    background-color: wheat;
    width: 400px;
    height: 400px;
}

.login-child > * {
    display: grid;
    grid-row-gap: 5px;
    margin: 15px 0;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color:wheat;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text to the right */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}